/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Cairo", sans-serif;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
body{
  background-color: #eff6fd;
}

.inputs-div{
    
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.input-div{
    display: flex;
    gap: .5rem;
    flex-direction: column;
    width: fit-content;
}
input{
    background-color: #fdfdfd;
    width: 15rem;
    padding: .2rem .5rem;
    border: solid 1px rgb(216, 216, 216);
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}
input::placeholder{
    color: rgb(207, 206, 206);
}