/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Cairo", sans-serif;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
body{
  background-color: #eff6fd;
}